## Dit is een cheatsheet voor Programming for Data Science.
### Mocht je hier iets aan toe wil voegen. Voel je vrij om een pull request een te maken.

Alle imports die je tijdens de les hebt gebruikt:

In [ ]:
import sqlalchemy
import sqlite3
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from statsmodels.formula.api import ols
import yfinance as yf
%config IPCompleter.greedy = True
%matplotlib inline

Connectie maken met sql database:

In [ ]:
#SQL Alchemy manier
#Gebruik 3 slashes voor relatief pad, 4 voor absoluut.
engine = sqlalchemy.create_engine('sqlite:///path-to-file')
conn = engine.connect()
data = conn.execute('Some sql query').fetchall()

In [ ]:
#SQLite3 manier
conn = sqlite3.connect('path-to-file')
cur = conn.cursor()
data = cur.execute(sql).fetchall()

#Pandas
df = pd.read_sql_query('Some sql query', conn)

Handige methods voor data exploration

In [ ]:
# Returns the first n rows.
df.head(5)
# Returns the last n rows.
df.tail(5)
# Returns column names.
df.columns
# Returns a tuple of the amount of rows and columns.
df.shape
# Returns the amount of records, the mean of each colum and standard deviation.
df.describe().transpose()
# Returns the dtypes in the DataFrame.
df.dtypes
# Returns the means of each column
df.mean()
# Returns the amount of columns
len(df.columns)
# Returns total amount of records
len(df)
# Returns amount of unique values per column
df.nunique()
# Returns the unique values of a column
df['Column'].unique()
# Returns a copy of a dataframe
df2 = df.copy()
# Dropping a column axis and inplace are optional
df = df.drop(columns=['Column'], axis=1, inplace=True)
# Dropping empty records
df = df.dropna()

Reading a csv file

In [ ]:
df = pd.read_csv('file.csv')

Reading a xlsx file

In [ ]:
df = pd.read_excel('file.xlsx')

Show data from specific column

In [ ]:
df['Column']

Show multiple columns

In [ ]:
df[['Column1', 'Column2', 'Column3']]

Show whether a statement is true or false

In [ ]:
df['Column'] == 'Some value'
df['Column'] != 'Some value'
df['Column'] > 'Some value'
df['Column'] < 'Some value'

Show records only when statement is true / false

In [ ]:
df[df['Column'] == 'Some value']

Creating a subset with a statement

In [ ]:
df = df[df['Column'] == 'Some value']

Group by column

In [ ]:
df.groupby('Column')

Group by column get mean of another column

In [ ]:
df.groupby('Column')['Another Column'].mean()

Group by multiple columns get mean of another column

In [ ]:
df.groupby(['Column1', 'Column2'])['Another Column'].mean()

Groupby column, plot another column

In [ ]:
df.groupby('Column')['Another Column'].plot()

Merge dataframes with .concat() \
[Documentation](https://pandas.pydata.org/docs/user_guide/merging.html)

In [ ]:
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
)

df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7],
)

frames = [df1, df2] 
result = pd.concat(frames)

Merging dataframes with .merge() \
[Documentation](https://pandas.pydata.org/docs/user_guide/merging.html#database-style-dataframe-or-named-series-joining-merging)

In [ ]:
pd.merge(
    left dataframe,
    right dataframe,
    how="inner",
    on=None,
    left_on=None,
    right_on=None,
    left_index=False,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y"),
    copy=True,
    indicator=False,
    validate=None,
)

Pairplot with seaborn \
[Documentation](https://seaborn.pydata.org/generated/seaborn.pairplot.html)

In [ ]:
sns.pairplot(df, hue='Column')

Scatterplot with seaborn \
[Documentation](https://seaborn.pydata.org/generated/seaborn.scatterplot.html)

sns.scatterplot(x='Column1', y='Column2', data=df, hue='cluster')

KMeans basic \
[Documentation](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html)

In [ ]:
n_clusters = range(1,15)
inertias = []

for n in n_clusters:
    
    model = KMeans(n_clusters=n).fit(df)
    
    inertias.append(model.inertia_)

Lineplot with seaborn \
[Documentation](https://seaborn.pydata.org/generated/seaborn.lineplot.html)

sns.lineplot(x=n_clusters, y=intertias)

Adding clusters as category

In [ ]:
df['cluster'] = model.labels_
df['cluster'] = df['cluster'].astype('category')

Normalising (class) 0 - 1 range

df = df - df.min()
df = df / df.max()

Normalising using sklearn \
[Documentation](https://scikit-learn.org/stable/modules/preprocessing.html#scaling-features-to-a-range)

In [ ]:
from sklearn import preprocessing

x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)

Normalising with mean

In [ ]:
df = ( df-df.mean()) /df.std()

Regression voor meer zie Week 4 - les 1/2\
[Documentation](https://www.statsmodels.org/dev/examples/notebooks/generated/ols.html)

In [ ]:
results = ols('Column1 ~ Column2 + Column3', df).fit()
print(results.summary())

Week 5 is tijdserie-analyse

Week 6 is decision trees

Zie die notebooks :D ben te lui om die samen te vatten